/* START: Task 1 Styles */
body {
  display: grid;
  place-items: center;
}
.single-task {
  margin-bottom: 5rem;
}
.single-task h1 {
  text-align: center;
}

.container-cell {
  width: 17.1rem;
  height: 17.2rem;
  background: green;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.cell {
  width: 5.5rem;
  height: 5.5rem;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
  width: 20rem;
}

.alert-container {
  border: 1px solid black;
  margin-bottom: 11px;
}
.hidden {
  display: none;
}
.alert-danger,
.alert-success {
  color: white;
}
.alert-danger {
  background: #ff8080;
}
.alert-success {
  background: green;
}
.alert-container,
input {
  padding-left: 0.8em;
}

form {
  display: grid;
  gap: 9px;
  grid-template-columns: 7fr 1fr;
}
input {
  height: 34px;
  border: 1px solid black;
}
input::placeholder {
  font-size: 10px;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.court-container {
  position: relative;
}
.a-score-zone,
.b-score-zone,
.ball {
  position: absolute;
}
.a-score-zone,
.b-score-zone {
  width: 15px;
  height: 15px;
  top: 156px;
}
.a-score-zone {
  right: 32px;
}
.b-score-zone {
  left: 32px;
}
.ball {
  top: 43%;
  left: 46.7%;
}
.scoreboard-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-top: -20px;
}
.score-event-alert {
  font-weight: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
/* END: Task 3 Styles */
