.not-before-mixin, .header .header-wrap .header_heading:before, main .section_text:before, main .section_banner .section_banner_text_wrap:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: #3a9ac3;
  z-index: -1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  position: relative; }

body {
  background: #fefefe;
  font-family: 'Source Sans Pro', sans-serif; }

a {
  color: white; }

.landing-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0; }
  .landing-logo img {
    height: 3.2rem; }
  .landing-logo p {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    color: #31323e; }
  .landing-logo span {
    font-weight: normal;
    font-size: 11px; }

.header {
  height: 600px;
  border-bottom-right-radius: 40%;
  background: url("/img/m-h-day.jpg") no-repeat center/cover; }
  .header .header-wrap {
    padding-left: 10rem; }
    .header .header-wrap .header_heading {
      position: relative;
      width: 30rem;
      padding: 2rem 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: bold;
      color: #31323e;
      z-index: 1; }
      .header .header-wrap .header_heading:before {
        top: 95px;
        width: 200px;
        height: 35px; }
    .header .header-wrap .header_text {
      width: 40rem;
      white-space: pre-line;
      line-height: 28px;
      padding: 2rem 0;
      color: #31323e; }
    .header .header-wrap div:not(.landing-logo) {
      width: 29rem;
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .header-wrap div:not(.landing-logo) .header_button {
        color: white;
        padding: 1rem 3rem;
        background: #5f9324;
        font-weight: bold;
        border: transparent;
        border-radius: 5px;
        cursor: pointer; }

main {
  margin: 0 auto;
  width: 1250px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  main .section_text {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 2rem 0;
    color: #31323e; }
    main .section_text:before {
      top: 30px;
      left: 167px;
      width: 142px;
      height: 36px; }
  main .section_card_wrap {
    width: 1170px;
    margin-bottom: 6rem; }
    main .section_card_wrap .section_card {
      display: flex;
      margin-bottom: 1rem;
      padding: 1rem;
      background: #272731;
      color: white;
      border-radius: 5px; }
      main .section_card_wrap .section_card .section_card_img {
        border-radius: 5px;
        width: 500px;
        height: 300px; }
      main .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem 8rem; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 32px;
          font-weight: 600; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          width: 420px;
          line-height: 24px;
          text-align: justify; }
  main .section_banner {
    margin-bottom: 8rem;
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 1rem 5rem;
    background: linear-gradient(45deg, #5f9324 25%, #4a4fd4 75%); }
    main .section_banner .section_banner_text_wrap {
      position: relative;
      z-index: 1;
      padding-bottom: 1.5rem; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        padding-bottom: 1rem;
        font-size: 32px;
        font-weight: bold;
        color: #31323e; }
      main .section_banner .section_banner_text_wrap:before {
        top: -7px;
        left: 128px;
        width: 71px;
        height: 45px; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        color: white; }
    main .section_banner .section_banner_button {
      color: white;
      padding: 1rem 3rem;
      background: #5f9324;
      font-weight: bold;
      border: transparent;
      border-radius: 5px;
      cursor: pointer; }

.footer {
  z-index: -1;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #272731; }
  .footer .footer-wrap {
    padding-top: 6rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .footer-wrap p,
    .footer .footer-wrap span {
      color: white; }
    .footer .footer-wrap .footer_logo p {
      font-weight: normal; }
    .footer .footer-wrap .footer_text {
      width: 20rem; }
