/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
:root {
  --primary: #0078aa;
  --dark: #363636;
  --light: #fff;
  --transition: 0.3s;
}

/* ------------------------------------ Global Styles ------------------------------------ */

/* main wrappers */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.content-wrapper {
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 1000px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* text elements */
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 0.9rem;
}
p {
  font-size: 0.85rem;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img:not(.logo) {
  width: 90vw;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 0.8rem;
  }
}

/* ------------------------------------ section  styles ----------------------------------- */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}
.section-title-container {
  margin: 1rem 0;
}
.section-title-container h2 {
  text-transform: capitalize;
  margin-bottom: 0.3rem;
}
.section-title-container p {
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* hover effects */
.icons-container i:hover,
.btn:hover {
  background: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* ------------------------------------ Special h2's ------------------------------------- */

.about-title-container h2,
.pricing-title-container h2 {
  font-size: 1.85rem;
}

/* ------------------------------------- Fixed Position ----------------------------------- */

nav,
.btn.back-to-top-btn {
  position: fixed;
  z-index: 2;
}

/* ----------------------------------- Back-to-top-btn ------------------------------------ */

.btn.back-to-top-btn {
  bottom: 4rem;
  right: 1rem;
  border-radius: 50%;
  padding: 0.8rem 1rem;
}

/* ---------------------------------------- Navbar ---------------------------------------- */

nav {
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background: white;
}
.nav-links {
  width: 90vw;
  max-width: 320px;
  display: flex;
  justify-content: space-evenly;
  padding: 0.4rem 0;
}
.nav-link {
  color: black;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 0.3rem;
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--primary);
}

/* mobile queries */
@media (min-width: 375px) {
  .nav-link {
    font-size: 0.8rem;
  }
}
@media (min-width: 410px) {
  .nav-links {
    max-width: 340px;
  }
}

/* tablet queries */
@media (min-width: 768px) {
  nav {
    width: 97vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-links {
    max-width: 370px;
  }
}

/* desktop queries  */
@media (min-width: 1000px) {
  nav {
    justify-content: space-around;
  }
}
/* ----------------------------------------- Hero ------------------------------------------ */
.hero {
  padding: 15rem 2rem 0;
  background: url('/img/lady.jpg') -16.5rem 5rem / 80rem no-repeat;
}
.hero-title-container h1 {
  line-height: 3rem;
  padding-bottom: 1.25rem;
  max-width: 380px;
  margin: 0 auto;
}
.hero-title-container p {
  color: #a7a7a7;
}
.icons-container {
  width: 70vw;
  max-width: 240px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.icons-container i {
  border-radius: 50%;
  padding: 0.6rem;
  background: var(--primary);
  color: white;
  font-size: 1.6rem;
  transition: 0.3s;
}

/* tablet queries */
@media (min-width: 768px) {
  .hero {
    width: 100vw;
    height: 60vh;
    background: url('/img/lady.jpg') -17.3rem 1rem / 95rem no-repeat;
    align-items: flex-start;
  }
  .hero-title-container {
    width: 35rem;
    text-align: left;
  }
  .hero-title-container h1 {
    max-width: 580px;
  }
  .hero-title-container p {
    max-width: 28rem;
  }
  .icons-container {
    max-width: 180px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
}

/* desktop queries */
@media (min-width: 1000px) {
  .hero {
    margin-top: -5rem;
    margin-bottom: -2.8rem;
    width: 85vw;
    height: 400px;
    background: url('/img/lady.jpg') 0.3rem/62rem no-repeat;
    align-self: flex-end;
  }
  .hero-title-container h1 {
    margin-left: 0;
    max-width: 480px;
    line-height: 2.5rem;
  }
}
@media (min-width: 1100px) {
  .hero {
    margin-top: -5rem;
    width: 1170px;
    height: 800px;
    padding-left: 0;
  }
}
/* ---------------------------------------- About ----------------------------------------- */
.about-title-container p {
  color: var(--primary);
}

.about-info-single-item {
  margin: 1rem 0;
  width: 95vw;
}

.about-info-single-item h3 {
  padding-bottom: 0.4rem;
}
.about-info-single-item h3::before {
  content: '⇨';
  padding-right: 0.8rem;
  color: var(--primary);
}

/* tablet queries */
@media (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  .about img {
    width: 20rem;
  }
  .about-info-container {
    width: 20rem;
    text-align: left;
  }
  .about-title-container {
    padding-bottom: 0.5rem;
  }
  .about-info-single-item {
    width: 22rem;
  }
}

/* desktop queries */
@media (min-width: 1000px) {
  .about {
    margin-top: -5rem;
    padding-left: 1rem;
    justify-content: flex-start;
  }
  .about-title-container h2 {
    font-size: 1.5rem;
  }
  .about-info-container {
    margin-left: 2rem;
  }
  .about img {
    width: 30rem;
  }
  .about p {
    font-size: 0.75rem;
  }
}

/* ---------------------------------------- Services -------------------------------------- */

.services {
  background: url('/img/services_bg.jpg') left/cover no-repeat;
}
.single-service {
  text-align: start;
  width: 94vw;
  background: white;
  margin: 1.5rem 0;
}
.single-service-img-container {
  padding: 2rem 1.5rem 0.5rem;
}
.single-service-img-container img {
  width: 8rem;
}
.single-service-info-container {
  padding: 0 1.5rem 1.5rem;
}
.single-service h3 {
  padding-bottom: 0.6rem;
}

/* tablet queries */
@media (min-width: 768px) {
  .services {
    padding: 2rem 0;
  }
  .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    padding: 0 1rem;
  }
  .single-service {
    margin: 0;
    width: inherit;
  }
}

/* desktop queries */
@media (min-width: 1000px) {
  .single-service {
    margin: 0;
    max-width: 400px;
  }
}

/* ----------------------------------------- Pricing -------------------------------------- */

.price-card {
  width: 90vw;
  max-width: 350px;
  padding: 2rem 0;
  margin: 1rem 0;
  background: #5ac3e2;
  color: white;
}
.price-card * {
  padding: 0.7rem 0;
}
.price-card .price {
  padding-top: 0;
  padding-bottom: 0;
}
.price-card-special {
  background: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.emphasized {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  background: var(--primary);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

/* tablet queries */
@media (min-width: 768px) {
  .pricing-title-container h2 {
    margin-bottom: 0;
  }
  .pricing-title-container {
    margin-bottom: 0;
  }
  .price-cards-container {
    padding: 0 1rem;
    background: url('/img/pricing_bg.jpg') center / 150% no-repeat;
    display: flex;
    align-items: baseline;
  }
  .price-card {
    padding: 1rem 0;
    width: 15.5rem;
  }
  .price-card-special {
    padding: 2rem 0;
  }
}

/* desktop queries */
@media (min-width: 1000px) {
  .price-cards-container {
    width: 90vw;
    padding: 0 3rem;
    background: url('/img/pricing_bg.jpg') -7rem -9rem / 120% no-repeat;
    justify-content: center;
  }
  .price-card {
    width: 19rem;
  }
}

/* ----------------------------------------- Contact -------------------------------------- */

.contact-title-container {
  max-width: 250px;
}
.contact-content-container,
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-content-container {
  align-items: center;
}
.contact-img-container img,
.contact-form {
  width: 90vw;
  max-width: 300px;
}
.contact-form input,
.contact-form select {
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0.5rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #a7a7a7;
  margin-bottom: 1rem;
}
.contact-form input:not(.date-input) {
  font-style: italic;
}
.contact-form select {
  width: 18.6rem;
}
.contact-form button {
  margin: 0.1rem;
  align-self: center;
}

/* tablet queries */
@media (min-width: 768px) {
  .contact {
    padding: 0;
    margin: 0;
    flex-direction: row;
  }
  .contact img {
    width: 755px;
    transform: translate(-5%);
  }
  .contact-content-container {
    transform: translate(-100%);
    padding: 4rem 2rem;
    background: white;
    align-items: flex-start;
    text-align: left;
    width: 320px;
  }
  .contact-form {
    width: 320px;
  }
  .contact-form input,
  .contact-form {
    width: 300px;
  }
  .contact-form select {
    width: 315px;
  }
  .contact-form button {
    align-self: flex-start;
  }
}

/* desktop queries */
@media (min-width: 1000px) {
  .contact {
    margin-bottom: -17px;
    z-index: -1;
  }
  .contact img {
    width: 900px;
  }
  .contact-content-container {
    transform: translateX(-90%) translateY(10%);
    background: white;
    align-items: flex-start;
    text-align: left;
    width: 320px;
    padding-top: 0;
    padding-bottom: 10rem;
  }
  .contact-form input {
    width: 325px;
  }
  .contact-form select {
    width: 340px;
  }
  .contact-form button {
    align-self: flex-start;
  }
}

/* ----------------------------------------- Footer -------------------------------------- */

footer {
  background: var(--dark);
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .hero,
  .about,
  .contact {
    align-self: center;
  }
  .hero {
    margin-top: -6rem;
    margin-bottom: -22rem;
    background: url('/img/lady.jpg') 10rem 10rem/70rem no-repeat;
  }
}
@media (min-width: 1500px) {
  nav {
    justify-content: space-evenly;
  }
}
