/* 

write your code here

*/

/* ======================================================================================== */
/* ----------------------------------- Non Print Version ---------------------------------- */
/* ======================================================================================== */

/* --------------------------------- General Styles Extended ------------------------------ */

/* italics and big first letters */
h2 ~ p:first-of-type {
  font-style: italic;
}
h2 ~ p:first-letter {
  font-size: 30px;
  line-height: 0.75;
}
.tm-banner-inner p:first-letter,
.tm-footer p::first-letter {
  font-size: 30px;
  color: lightskyblue;
}
nav,
.tm-content-box {
  box-shadow: 0 0 10px 0 gray;
}

/* ----------------------------------------- Hover -------------------------------------- */

.flex-2-col,
#ideas,
.heading,
.tm-content-box {
  position: relative;
}
.flex-2-col::before,
.tm-content-box::before,
#ideas::before {
  content: '';
  top: 0;
  height: 10rem;
  width: 17rem;
  clip-path: polygon(100% 0, 0 0, 0 25%);
  background: lightskyblue;
}
.flex-2-col::before {
  position: absolute;
}

/* ------------------------------------------ Nav --------------------------------------- */

nav li:hover {
  background: #f5f5f5;
}

/* ----------------------------------------- Banner -------------------------------------- */

.tm-banner {
  background: #f5f5f5;
}
.tm-banner-inner {
  background: #fff;
}

/* ----------------------------------- What We Do ------------------------------ */

.flex-2-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-indent: 26px;
}
.flex-2-col p:first-letter {
  color: lightskyblue;
}
.tm-team-description-container {
  line-height: 1.8;
}
p.print-text {
  display: none;
}

/* ---------------------------------------- Gallery --------------------------------------- */

.box.box-bg:hover {
  background: lightskyblue;
}
.box.box-bg h2:hover {
  color: white;
  font-weight: bold;
}

/* ----------------------------------------- We Are --------------------------------------- */

.heading h2 {
  text-align: center;
  color: lightskyblue;
}
.link-text {
  color: black;
}
.link-text:hover {
  color: lightskyblue;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.link-text:visited {
  text-decoration: underline;
}
.new {
  display: flex;
}
.new::after {
  content: 'New';
  color: red;
  font-size: 10px;
}

/* --------------------------------------- Our Work -------------------------------------- */

.our-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.our-work p::first-letter {
  color: black;
}
.our-work,
.box:nth-child(2),
.box:nth-child(4),
.box:nth-child(6) {
  background: #f5f5f5;
}
.box-work {
  padding: 0.6rem;
  width: 370px;
}
.box-work h2,
.box-work p {
  text-indent: 0;
}

/* ------------------------------------ How We Do It ------------------------------------- */

.carousel-content h2 {
  color: gainsboro;
  letter-spacing: 5px;
}
.carousel-content p::first-letter {
  color: lightskyblue;
}

/* ------------------------------------ Work with Us -------------------------------------- */

.mandatory-field:after {
  content: '*';
  color: red;
  font-weight: bold;
}
.submit-btn {
  float: right;
  font-weight: 300;
  font-size: 21px;
  border-radius: 0;
  padding: 0.85rem 3.5rem;
  background: transparent;
  color: lightskyblue;
  border: 1px solid lightskyblue;
}
.submit-btn:hover {
  border-color: transparent;
  background: skyblue;
  color: white;
}

/* ======================================================================================== */
/* -------------------------------------- Print Version ----------------------------------- */
/* ======================================================================================== */

@media print {
  nav,
  #about,
  .heading,
  .blocks,
  #ideas,
  .pic-and-form,
  footer {
    display: none;
  }
  .flex-2-col {
    flex-wrap: wrap;
  }
  .tm-team-description-container {
    width: 360px;
  }
  .flex-item img {
    width: 10rem;
  }
  h2.tm-section-title {
    color: blue;
  }
  p:first-letter {
    color: rgb(0, 140, 160);
    font-size: 30px;
  }
  p.print-text {
    margin: 0 auto;
    display: block;
  }
  .tm-content-box .tm-banner,
  .flex-2-col {
    margin: -29px auto;
  }
}
