@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.btn-primary {
  border: 1px solid lightcoral;
  background: coral;
}
.btn-primary:hover {
  background: white;
  color: coral;
  border: 1px solid lightcoral;
}
.btn-secondary {
  background: #383c42;
  border: 1px solid #383c42;
}
