/* --------------------------------------- Fonts ---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* --------------------------------------- Variables ------------------------------------- */

:root {
  --bigger-text: 1.35rem;
}

/* ------------------------------------ Global Styles ------------------------------------ */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3 {
  font-weight: 400;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  border: 0.2em solid white;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}
.logo h1,
.nav-link,
.hero-title,
.featured-img-text {
  color: white;
}
.emphasized {
  font-weight: bold;
}

/* --------------------------------------- Navbar ---------------------------------------- */

header {
  background: url('/img/apples.jpg') no-repeat center/cover fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
}
.logo h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.navigation {
  display: flex;
  gap: 3em;
}
/* ----------------------------------------- Hero ------------------------------------------ */

.hero {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.hero-title {
  letter-spacing: 0.1rem;
}
.hero-title h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
}
.hero-title h1 span {
  font-size: 2em;
}
.hero-btn {
  position: absolute;
  bottom: 9.6rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

/* ----------------------------------- About Section ------------------------------------ */

.about {
  padding: 7rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bigger-text {
  width: 30rem;
  font-size: var(--bigger-text);
}

.smaller-text {
  text-align: justify;
  width: 40rem;
}

/* ----------------------------------- Featured Section ------------------------------------ */

.featured {
  display: grid;
  place-items: center;
  padding: 4rem 3rem;
  gap: 2rem;
  background: #f1f1f1;
}

.featured-section-title h2 {
  font-size: var(--bigger-text);
  padding: 4rem;
}

.article {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.featured-img-container {
  position: relative;
  box-sizing: border-box;
}
.featured-img-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 1;
}

.featured-img {
  width: 60vw;
  display: block;
}

.featured-img-btn,
.featured-img-text {
  position: absolute;
}

.featured-img-btn {
  padding: 0.5em 1em;
  top: 20px;
  right: 20px;
}

.featured-img-text {
  bottom: 30px;
  left: 25px;
  z-index: 2;
  font-size: var(--bigger-text);
}

.featured-description {
  text-align: center;
}

.newsletter {
  width: 90vw;
  margin-top: 1rem;
  padding: 3rem 2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter form {
  width: 85rem;
  display: flex;
}

.newsletter-input,
.submit-btn {
  padding: 1.5rem;
}
.newsletter-input {
  flex-grow: 1;
  border: 1px solid black;
}
.submit-btn {
  border: 1px solid #37383a;
  background: #37383a;
  color: white;
  font-size: 1.25rem;
}

/* ----------------------------------- Contact Section ------------------------------------ */

.contact {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}
.contact-article {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.contact-article h1 {
  font-weight: 600;
  padding-bottom: 1rem;
}
.contact-article p {
  color: #b5b5b5;
}
.newsletter-small p {
  padding-bottom: 0.4rem;
}
.newsletter-small form {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
}
.small-newsletter-input {
  padding: 1rem;
  flex-grow: 1;
  border: 1px solid black;
}
.small-submit-btn {
  padding: 0.83rem;
  border: none;
  background: #37383a;
  color: white;
  font-size: 1.25rem;
}

/* ---------------------------------------- Footer ---------------------------------------- */

footer {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 1px solid #b5b5b5;
  color: #b5b5b5;
}
.footer-links {
  gap: 2rem;
}
.footer-link {
  color: black;
}

/* ----------------------------------- Media queries -------------------------------------- */

@media screen and (max-width: 1400px) {
  .about {
    gap: 5em;
  }
  .bigger-text {
    font-size: 1rem;
  }
  .smaller-text {
    font-size: 0.9rem;
  }
  .article,
  .newsletter {
    max-width: 85vw;
  }
  .featured-img {
    width: 50vw;
  }
  .small-newsletter-input {
    padding: 0.7rem;
  }
  .small-submit-btn {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .newsletter h2 {
    font-size: 1rem;
  }
  .newsletter form {
    max-width: 60vw;
  }
  .newsletter-input,
  .submit-btn {
    padding: 1rem;
  }
  .contact {
    display: grid;
    place-items: center;
    align-items: baseline;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  .contact-article {
    width: 30vw;
  }
}
@media screen and (max-width: 1000px) {
  .article,
  .newsletter {
    max-width: 80vw;
  }
  .featured-img {
    width: 40vw;
  }
}
@media screen and (max-width: 900px) {
  .article {
    flex-direction: column;
    align-items: center;
    gap: 0;
    background: #d0d0d0;
  }
  .featured-img {
    width: 80vw;
  }
  .featured-description {
    padding: 1rem;
  }
}
