@import 'utils.scss';

#alertMessage {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  max-width: 215px;
  border-bottom-right-radius: $radius;
}

#saveModifiedItem:hover,
.addTweet:hover {
  background: #2b9348;
}
#cancelModification:hover,
.remove-btn:hover {
  background: #da1b2b;
}
.goToLikedBtn:hover,
.like-btn:hover {
  background: #f3a8bc;
}
.backBtn:hover {
  background: #80b918;
}

.tweetContent {
  cursor: pointer;
}

.underline {
  margin: 1.2rem 0 0.8rem;
  height: 1px;
  width: 70%;
  background: black;
}

.btn-liked {
  @include button-sizing-fix;
  background: #f52280;
  color: white;
  cursor: pointer;
}
