@import 'utils.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 90vw;
  font-family: $primary-font;
  @include grid-centering;
}
ul {
  @include grid-with-gap;
  list-style-type: none;
  margin: 2rem 0;
}
h1 {
  margin: 1rem;
  font-family: $secondary-font;
  text-align: center;
}

#modifyItem.hidden,
.hidden {
  display: none;
}

li {
  @include flex-centering-column;
  justify-content: space-between;
  width: 350px;
  border: 2px solid $primary-color;
  border-radius: $radius;
  padding: 1rem 0 1rem 1rem;
}

button {
  min-width: 5rem;
  margin: 10px;
  padding: 6px 1rem;
  background: white;
  font-family: $primary-font;
  text-transform: capitalize;
  border: 1px solid grey;
  border-radius: $radius;
  cursor: pointer;
}
button:hover {
  @include button-sizing-fix;
  color: white;
}
