@import 'utils.scss';

#navigationButtons,
.formButtons {
  @include flex-centering-y;
}
#modifyItem {
  @include flex-column;
}
#modifyItemHeader {
  @include flex;
  align-self: center;
}

#modifyItemInput {
  height: 55px;
  width: 400px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 15px;
  font-family: $primary-font;
  letter-spacing: 1px;
  border: 2px solid black;
  border-radius: $radius;
}
#modifyItemInput:focus {
  outline-color: $primary-color;
}
#cancelModification {
  width: 4rem;
}
#saveModifiedItem {
  width: 8rem;
}
