@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&family=Roboto&display=swap');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Noto Sans Display', sans-serif;

$primary-color: #4794ee;

$radius: 7px;

@mixin grid {
  display: grid;
}
@mixin grid-centering {
  @include grid;
  place-items: center;
}
@mixin grid-with-gap {
  @include grid;
  gap: 2rem;
}

@mixin flex {
  display: flex;
}
@mixin flex-centering {
  @include flex;
  align-items: center;
}
@mixin flex-centering-y {
  @include flex;
  justify-content: center;
}
@mixin flex-column {
  @include flex;
  flex-direction: column;
}
@mixin flex-centering-column {
  @include flex-column;
  align-items: center;
}

@mixin button-sizing-fix {
  border: none;
  transform: scale(1.05);
}
