* {
  margin: 0;
  padding: 0;
}

:root {
  --border: 1px solid black;
}

body {
  display: grid;
  place-items: center;
}

main {
  width: 95%;
}

.page-title {
  margin-bottom: 1rem;
}
.chat-field,
.message-input-container {
  display: flex;
  flex-direction: column;
}
.chat-field {
  gap: 10px;
  border: var(--border);
  border-radius: 5px;
  height: 70vh;
  overflow-y: auto;
  width: 95vw;
}

.chat-field-heading {
  margin: 0 auto;
}

.chat-field-message-container,
.chat-field-message-container-right {
  align-self: center;
  width: 90%;
  border-radius: 50px;
  padding: 5px 1rem;
}
.chat-field-message-container {
  background: #dbdbdb;
}
.chat-field-message-container-right {
  background: seagreen;
  color: white;
  text-align: right;
}
.chat-field-message {
  padding-top: 5px;
  word-wrap: break-word;
}

.message-input-container {
  margin: 4rem auto;
}
.messageBox,
.messageBtn {
  padding: 1rem;
  border: var(--border);
}
.messageBox::placeholder {
  text-align: center;
}
.messageBox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.messageBtn {
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: seagreen;
}
