* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

body {
  max-width: 1483px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'header header'
    'main aside'
    'main ads'
    'footer footer';
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

p {
  font-family: var(--primary-font);
  font-size: 16px;
}
a {
  text-decoration: none;
}
.aside-link {
  font-size: 20px;
}

.content-box {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.content-box-inner {
  display: grid;
  place-items: center;
  padding: 2rem;
}

header {
  grid-area: header;
}

.header-logo {
  width: 90px;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  grid-area: main;
}

.photos-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 50px;
}

.photo-container {
  width: 300px;
  height: 100%;
}
.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 70%;
  border-radius: 5px;
}
.img-1,
.img-5,
.img-7,
.img-11 {
  grid-row: span 2;
}
.img-2,
.img-6,
.img-8 {
  grid-row: span 3;
}
.img-4,
.img-10 {
  grid-row: span 4;
}
.img-3,
.img-9 {
  grid-row: span 5;
}

aside {
  grid-area: aside;
  position: sticky;
  top: 176px;
}
aside p {
  margin-bottom: 1rem;
  text-align: center;
}
.special-paragraph {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: bold;
}
.bio-links-container {
  width: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.bio-link {
  color: black;
  font-size: 14px;
}

footer.content-box {
  grid-area: footer;
}
footer p:not(.copyright-statement) {
  font-size: 12px;
}
.footer-logo {
  width: 50px;
}

@media screen and (max-width: 1200px) {
  .photos-container {
    grid-template-columns: repeat(2, 300px);
  }
  .photo-container {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'aside'
      'main'
      'main'
      'footer';
  }
  .photos-container {
    justify-content: center;
  }
  aside {
    position: static;
  }
}
@media screen and (max-width: 481px) {
  .photos-container {
    grid-template-columns: 1fr;
  }
}
