body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* Your code goes here */

/* ------------------------------------ General Styling ------------------------------------ */

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color-1: #76cdd8;
  --primary-color-2: #24d4d4;
  --secondary-color: #279596;
}
body {
  background: #f2f2f2;
  color: #767676;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.chess-board-section,
.lorem-section,
.pricing-section {
  margin: 2rem 0;
  background: white;
}

h2 {
  font-size: 28px;
}
.h2-colored {
  color: #79c7d4;
}
p,
blockquote {
  line-height: 1.75;
}
a {
  text-decoration: none;
}

.btn {
  margin: 1rem 0;
  padding: 1rem 3rem;
  border: none;
  background: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  cursor: pointer;
}
.btn-align-right {
  align-self: flex-end;
}
.btn:hover {
  background: var(--primary-color-1);
}

.inner-section,
.content-box,
.content-box-inner {
  display: flex;
}
.inner-section,
.content-box,
.content-box-inner {
  align-items: center;
}
.inner-section,
.content-box,
.content-box-inner {
  justify-content: center;
}
.content-box,
.content-box-inner,
.card-header {
  flex-direction: column;
}
.content-box {
  width: 600px;
  height: 400px;
}
.content-box-inner {
  width: 80%;
}

.lorem-section img,
.pricing-section img {
  object-fit: cover;
}

/* ---------------------------------- Chess Board Section ---------------------------------- */

/* flex */
.chess-board-section {
  display: flex;
  flex-wrap: wrap;
}

.blue-background-box {
  background: var(--primary-color-1);
  color: white;
}

/* hover effects */
.inner-section {
  position: relative;
}
.inner-section-special:hover {
  color: var(--primary-color-1);
}
.inner-section-before::before,
.inner-section-after::after {
  background: var(--primary-color-1);
}

.inner-section-before:hover:before,
.inner-section-after:hover:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  content: '';
}
.inner-section-before:hover:before {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  left: 0;
}
.inner-section-after:hover:after {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  right: 0;
}

/* logo card */
.logo {
  font-size: 60px;
}

/* blockquote card */
blockquote {
  font-style: italic;
}

/* learn-from-home card */
.learn-from-home-box h2 {
  margin-bottom: 1rem;
}

/* copyright-infringement-box */
.copyright-infringement-box p {
  font-size: 16px;
  font-weight: 300;
}
.fortnite-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

/* img-box */
.img-box {
  background: url('/img/image-01.jpg') center/cover;
}
.img-box:hover {
  transform: scale(1.1);
}

/* architecting box */
.architecting-box h2 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

/* -------------------------------------- Lorem Section ------------------------------------ */

/* flex */
.lorem-section {
  display: flex;
  align-items: center;
}

/* other */
.lorem-section img {
  width: 405px;
}

.lorem-article {
  padding: 4rem;
}

.lorem-article h2 {
  align-self: flex-start;
  padding-bottom: 1.5rem;
}
.lorem-article p {
  padding-bottom: 1rem;
}

/* ------------------------------------ Pricing Section ------------------------------------ */

/* flex */
.pricing-section,
.card,
.card-header,
.card-list {
  display: flex;
}
.pricing-section,
.card-header,
.card-list {
  display: flex;
  align-items: center;
}
.card,
.card-header,
.card-list {
  flex-direction: column;
}

/* pricing-section */
.pricing-section img {
  width: 400px;
}

/* cards-section */
.cards-section {
  height: 100%;
  margin: 0 2.2rem;
  gap: 2rem;
}

/* card */
.card {
  width: 347px;
  height: 535px;
  border: 1px solid var(--secondary-color);
}

/* card hovers */
.card:hover {
  box-shadow: 0 0 0 0.2rem var(--primary-color-2);
}
.card:hover > .special-text {
  display: block;
}
.card:hover > .card-btn {
  background: var(--primary-color-2);
  border: 1px solid var(--secondary-color);
}
.special-card:hover {
  height: 570px;
}

/* card header */
.card-header {
  background: var(--secondary-color);
  color: white;
  padding: 2rem 0;
}
.card-header h2 {
  font-weight: 400;
  padding-bottom: 0.6rem;
}

/* card list */
.card-list {
  padding: 2rem 0;
  list-style-type: none;
}
.card-list li {
  padding: 7px 0;
}

/* card btns */
.card-btn {
  align-self: center;
}
.special-card-btn {
  margin-bottom: 0.2rem;
}

/* special text */
.special-text,
.special-text:before {
  font-weight: bold;
}
.special-text {
  color: var(--primary-color-2);
  text-align: center;
  font-size: 14px;
  display: none;
}
.special-text:before {
  content: '*';
  color: red;
  padding-right: 5px;
}

/* -------------------------------- Application Form Section ------------------------------- */

section.application-form-section {
  background: #f2f2f2;
  margin-bottom: 0;
}

/* flex */
.application-form-section,
.application-form,
.application-form-body,
.application-form-control,
.application-form-footer {
  display: flex;
}
.application-form-section,
.application-form,
.application-form-control {
  flex-direction: column;
}

.application-form-header,
.application-form-footer {
  color: white;
}

/* form header */
.application-form-header {
  height: 10rem;
  background: var(--primary-color-2);
}
.application-form-header h2 {
  padding: 2.5rem 10.6rem;
}
.application-form,
.form-btn {
  align-self: center;
}
.application-form {
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 60%;
  background: white;
  margin: -3rem 0;
  padding: 4.5rem 4.5rem 3.5rem;
  z-index: 1;
}

/* form body */
.application-form-body {
  gap: 2rem;
}
.application-form-input,
.application-form-select,
.application-form-textarea {
  font-size: 18px;
  color: #767676;
  outline: none;
}
.application-form-input:focus,
.application-form-select:focus,
.application-form-textarea:focus {
  border-color: var(--primary-color-2);
  box-shadow: 0 0 0 0.2rem var(--primary-color-2);
}
.application-form-input,
.application-form-select {
  padding: 1rem;
  margin-bottom: 1rem;
}
.application-form-select {
  padding: 1rem;
  width: 22.15rem;
  border-color: #858585;
}
.application-form-input {
  width: 20rem;
  border: 1px solid;
}
.application-form-input,
.application-form-textarea {
  border-color: #ccd1d8;
}
.application-form-textarea {
  height: 11rem;
  width: 18.5rem;
  padding: 0.9rem 1.1rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.form-btn:hover {
  background: var(--primary-color-2);
  border: 1px solid var(--secondary-color);
}

/* form footer */
.application-form-footer {
  align-items: center;
  justify-content: center;
  gap: 12rem;
  background: var(--secondary-color);
  padding: 6rem 5rem 3rem 0;
}
.application-form-footer h3 {
  margin-bottom: 0.5rem;
}

/* ---------------------------------------- Footer ----------------------------------------- */

.footer {
  text-align: center;
  padding: 1rem 0;
}
