* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.hidden {
  display: none;
}

main {
  display: grid;
  place-items: center;
}

header {
  padding-bottom: 2rem;
}
section {
  letter-spacing: 1px;
}

.radioDiv,
.optionsDiv {
  display: flex;
}
.radioDiv {
  align-items: center;
  gap: 1rem;
  padding-bottom: 5px;
}
.optionsDiv {
  padding-bottom: 1.25rem;
}

table {
  width: 90vw;
  border-collapse: collapse;
}
table,
th,
td,
tr {
  border: 0.1px solid grey;
}

.filterByRegionFormControl,
.filterByLanguageFormControl {
  display: flex;
  align-items: baseline;
  gap: 3px;
  padding-bottom: 2px;
}

.select {
  width: 9.5rem;
}

tr,
tr:nth-child(even) {
  transition: 0.3s;
}
tr:hover,
tr:nth-child(even):hover {
  background: #c0c0c0;
}
th {
  padding: 10px;
  background: green;
  color: white;
}
td {
  text-align: center;
}
tr:nth-child(even) {
  background: #e3e3e3;
}

.countryTh,
.areaTh {
  cursor: pointer;
}

.countryTh::after {
  content: '🠕';
  color: yellow;
}
.sortZA::after {
  content: '🠗';
  color: yellow;
}
.sort::after {
  content: '⬍';
  font-weight: 100;
  color: yellow;
}
