@import './utils.scss';

.game-items-box {
  display: flex;
  flex-direction: column;
}

.game-content-box,
.game-buttons-box {
  @include flex-centering;
}

.game-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.value-container {
  @include flex-centering;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  background: orange;
  border-radius: $radius;
}
.value-container-inner {
  @include flex-centering;
  flex-direction: column;
  font-size: 60px;
  font-family: $headings-font;
  text-transform: capitalize;
}

.special-heading {
  font-size: 90px;
}

.btn-container {
  align-self: center;
  width: 40%;
  @include flex-centering;
  flex-direction: column;
}

.game-buttons-box {
  display: flex;
  justify-content: space-between;
}

.reset-btn {
  width: 100%;
}

.final-result {
  margin: 1rem;
  font-size: 40px;
  text-align: center;
}
.final-result-span {
  text-transform: capitalize;
}
