@import './utils.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  @include grid-centering;
}

h1,
h2,
h3,
h5 {
  font-family: $headings-font;
}

h1 {
  padding: 16px 0;
}
h2 {
  padding: 14px 0;
}
h3 {
  padding: 12px 0;
}
h5 {
  padding: 8px 0;
}

.hidden {
  display: none;
}

.content-box {
  margin: 1rem;
}

.btn {
  width: 7rem;
  background: orange;
  font-family: $headings-font;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 15px;
  margin: 10px;
  border-radius: $radius;
  border: transparent;
  transition: 0.7s;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8.5px -2px rgba(0, 0, 0, 0.47);
  cursor: pointer;
}
