@import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Short+Stack&display=swap');

$headings-font: 'Short Stack', cursive;
$primary-font: 'Schoolbell', cursive;
$radius: 7px;

@mixin grid-centering {
  display: grid;
  place-items: center;
}

@mixin flex-centering {
  display: flex;
  align-items: center;
}
