// ---------------------------------------- SASS Stuff ------------------------------------- //

// aligning mixins
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-column-align-center {
  @include flex-align-center;
  flex-direction: column;
}
@mixin flex-align-center-justify-s-b {
  @include flex-align-center;
  justify-content: space-between;
}
@mixin flex-column-align-center-justify-s-b {
  @include flex-column-align-center;
  justify-content: space-between;
}

// using mixin for styling links and buttons
@mixin btn-link-color {
  color: white;
}
@mixin button {
  padding: 1rem 3rem;
  background: $buttonBGAndGradientStart;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

// using at least one extend rule
.not-before-mixin {
  content: '';
  position: absolute;
  display: inline-block;
  background: $beforeBackground;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  background: $pageBackground;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  @include btn-link-color;
}

.landing-logo {
  @include flex-align-center;
  gap: 1rem;
  padding: 1rem 0;
  img {
    height: 3.2rem;
  }
  p {
    @include flex-column-align-center;
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    color: $headerColor;
  }
  span {
    font-weight: normal;
    font-size: 11px;
  }
}

.header {
  height: 600px;
  border-bottom-right-radius: 40%;
  background: $headerImage no-repeat center/cover;
  .header-wrap {
    padding-left: 10rem;
    .header_heading {
      position: relative;
      width: 30rem;
      padding: 2rem 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: bold;
      color: $headerColor;
      z-index: 1;
      &:before {
        @extend .not-before-mixin;
        top: 95px;
        width: 200px;
        height: 35px;
      }
    }
    .header_text {
      width: 40rem;
      white-space: pre-line;
      line-height: 28px;
      padding: 2rem 0;
      color: $headerColor;
    }
    div:not(.landing-logo) {
      width: 29rem;
      padding: 2rem 0;
      @include flex-align-center-justify-s-b;
      .header_button {
        @include btn-link-color;
        @include button;
      }
    }
  }
}

main {
  margin: 0 auto;
  width: 1250px;
  @include flex-column-align-center;
  .section_text {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 2rem 0;
    color: $headerColor;
    &:before {
      @extend .not-before-mixin;
      top: 30px;
      left: 167px;
      width: 142px;
      height: 36px;
    }
  }
  .section_card_wrap {
    width: 1170px;
    margin-bottom: 6rem;
    .section_card {
      display: flex;
      margin-bottom: 1rem;
      padding: 1rem;
      background: $cardBackground;
      color: white;
      border-radius: 5px;
      .section_card_img {
        border-radius: 5px;
        width: 500px;
        height: 300px;
      }
      .section_card_right_container {
        @include flex-column-align-center-justify-s-b;
        margin: 2rem 8rem;
        .section_card_heading {
          font-size: 32px;
          font-weight: 600;
        }
        .section_card_text {
          width: 420px;
          line-height: 24px;
          text-align: justify;
        }
      }
    }
  }

  .section_banner {
    margin-bottom: 8rem;
    width: 1250px;
    @include flex-align-center-justify-s-b;
    border-radius: 5px;
    padding: 1rem 5rem;
    background: linear-gradient(
      45deg,
      $buttonBGAndGradientStart 25%,
      $gradientEnd 75%
    );

    .section_banner_text_wrap {
      position: relative;
      z-index: 1;
      padding-bottom: 1.5rem;
      .section_banner_heading {
        padding-bottom: 1rem;
        font-size: 32px;
        font-weight: bold;
        color: $headerColor;
      }
      &:before {
        @extend .not-before-mixin;
        top: -7px;
        left: 128px;
        width: 71px;
        height: 45px;
      }
      .section_banner_text {
        color: white;
      }
    }
    .section_banner_button {
      @include btn-link-color;
      @include button;
    }
  }
}

// using at least one map
$paddings: (
  'top': 6rem,
  'right': 10rem,
  'bottom': 1rem,
  'left': 10rem
);

.footer {
  z-index: -1;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: $cardBackground;
  .footer-wrap {
    @each $key, $value in $paddings {
      padding-#{$key}: #{$value};
    }
    @include flex-align-center-justify-s-b;
    p,
    span {
      color: white;
    }
    .footer_logo {
      p {
        font-weight: normal;
      }
    }
    .footer_text {
      width: 20rem;
    }
  }
}
