$pageBackground: #fefefe;
$beforeBackground: #3a9ac3;
$headerColor: #31323e;
$cardBackground: #272731;

$buttonBGAndGradientStart: rgba(95, 147, 36, 1);
$gradientEnd: rgba(74, 79, 212, 1);

$headerImage: url('/img/m-h-day.jpg');
