$pageBackground: #272731;
$beforeBackground: #f8583a;
$headerColor: #fefefe;
$cardBackground: #3f4050;

$buttonBGAndGradientStart: rgba(219, 174, 34, 1);
$gradientEnd: rgba(143, 51, 81, 1);

$headerImage: url('/img/m-h-night.jpg');
