body {
  display: grid;
  place-items: center;
}
#modifyItem.hidden,
.hidden {
  display: none;
}
button {
  padding: 0 8px;
  height: 1.6rem;
  border-radius: 7px;
}
ul {
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  text-align: center;
}

#alertMessage {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  max-width: 140px;
}

.tweetContent {
  width: 15rem;
  margin-right: 5rem;
  text-align: justify;
  cursor: pointer;
}

#modifyItem,
#navigationButtons,
.formButtons {
  display: flex;
}
#navigationButtons,
.formButtons {
  justify-content: center;
}
#modifyItem {
  flex-direction: column;
}
#modifyItemHeader {
  align-self: center;
}
#modifyItemInput {
  margin-bottom: 1rem;
  width: 11.6rem;
  height: 4rem;
}
#modifyItemInput:focus {
  outline-color: blue;
}
#cancelModification {
  width: 4rem;
}
#saveModifiedItem {
  width: 8rem;
}
